{% load render_table from django_tables2 %}
{% load i18n static %}
<html>
   <head>
       <title>Logiciel</title>
       <link rel="stylesheet" href="{% static '/css/styles.css' %}" />
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

   </head>


   <body>
   <div class="ccontent">
       <div class="nnavbar">

            <!-- Liens directs vers les pages -->
            <a href="{% url 'accueil' %}"><i class="fa-solid fa-house"></i>{% trans " Welcome" %}</a>

            <a href="{% url 'place_list' %}"><i class="fa-solid fa-envelope"></i>{% trans " Sites" %}</a>

            {% block navbar %}{% endblock navbar %}

            <!-- Menu déroulant pour "Addition" -->
            <div class="ddropdown">
                <button class="dropbtn"><i class="fa-solid fa-bars"></i>{% trans " Addition" %}</button>
                <div class="ddropdown-content">
                    <a href="{% url 'typologie_list' %}"><i class="fa-solid fa-font-awesome"></i>{% trans " Typology" %}</a>
                    <a href="{% url 'provider_list' %}"><i class="fa-solid fa-truck-fast"></i>{% trans " Supplier" %}</a>
                    <a href="{% url 'brand_list' %}"><i class="fa-solid fa-copyright"></i>{% trans " Brand" %}</a>
                    <a href="{% url 'type_connexion_list' %}"><i class="fa-solid fa-wifi"></i>{% trans " Connection type" %}</a>
                    <a href="{% url 'type_equipment_list' %}"><i class="fa-solid fa-screwdriver-wrench"></i>{% trans " Type of equipment" %}</a>
                    <a href="{% url 'platform_list' %}"><i class="fa-solid fa-mobile-screen-button"></i>{% trans " Platform" %}</a>
                </div>
            </div>

            <!-- Menu déroulant pour "Others" -->
            <div class="ddropdown">
                <button class="dropbtn"><i class="fa-solid fa-bars"></i>{% trans " Others" %}</button>
                <div class="ddropdown-content">
                    <a href="{% url 'about' %}"><i class="fa-solid fa-question"></i>{% trans " About" %}</a>
                    <a href="{% url 'contact' %}"><i class="fa-solid fa-address-card"></i>{% trans " Contact" %}</a>
                </div>
            </div>

        </div>
   </div>

    <div class="container">

        <title>Voici les différent {% block name %}{% endblock name %} : </title>

         {% render_table table %}

         {% block type %}

         {% endblock type %}
    </div>
</body>
</html>


</body>
</html>

