{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% block content %}

<html>
    <head>
        <title>Voici les différentes typologies : </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>
        {% render_table table %}

        <form action="{% url 'typologie_create' %}">
            <input class="styled" type="submit" value="Créer une typologie">
        </form>


    </body>
</html>
{% endblock %}
