{% extends 'listings/base.html' %}

{% block content %}

<h2>{{ band.name }}</h2>

<ul>
    <li>Genre: {{ band.get_genre_display }}</li>
    <li>Année de formation : {{ band.year_formed }}</li>
    <li>Actif : {{ band.active|yesno }}</li>
    {% if band.official_homepage %}
    <li><a href="{{ band.official_homepage }}">{{ band.official_homepage }}</a></li>
    {% endif %}
</ul>

<p>{{ band.biography }}</p>

<form action="{% url 'band_update' band.id %}">
    <input class="styled_2" type="submit" value="Modifier ce groupe">
</form>

<form action="{% url 'band_delete' band.id %}">
    <input class="styled_3" type="submit" value="Supprimer ce groupe">
</form>

{% endblock %}
