{% load static %}

<html>
    <head>
        <title>Merchex</title>
        <link rel="stylesheet" href="{% static 'listings/styles.css' %}" />

    </head>
    <body>
    <nav>
        <ul>
            <li><a href="{% url 'accueil' %}">Accueil</a></li>
            <li><a href="{% url 'entreprise' %}">Entreprises</a></li>
            <li><a href="{% url 'equipement' %}">Equipement entreprise</a></li>
            <li><a href="{% url 'reseau' %}">Réseau entreprise</a></li>
            <li><a href="{% url 'logiciel' %}">Logiciel entreprise</a></li>
            <li><a href="{% url 'contact' %}">Contactez-nous</a></li>
            <li><a href="{% url 'about' %}">À propos</a></li>
        </ul>
    </nav>

    {% block content %}{% endblock %}

</body>
</html>