{% extends 'listings/base.html' %}
{% load render_table from django_tables2 %}
{% block content %}

<html>
    <head>
        <title>List of listing</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>
        {% render_table table %}

        <form action="{% url 'listing_create' %}">
            <input class="styled" type="submit" value="Créer un article">
        </form>

    </body>
</html>
{% endblock %}
