<!-- listings/templates/listings/listing_list.html -->

{% extends 'listings/base.html' %}
{% load static %}

{% block content %}
    <h1>Annonces</h1>
    <a href="{% url 'listing-create' %}">Créer une nouvelle annonce</a>
    <ul>
        {% for listing in listings %}
            <li>
                {{ listing.title }} - <a href="{% url 'listing-update' listing.id %}">[modifier]</a> - <a href="{% url 'listing_delete' listing.id %}">[supprimer]</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
