{% extends 'listings/base.html' %}

{% block content %}

<h2>{{ listing.title }}</h2>

<ul>
    <li>Type : {{ listing.get_type_display }}</li>
    <li>Actif : {{ listing.band.active|yesno }}</li>
    <li>Sold : {{ listing.sold|yesno }}</li>
    <li>Année : {{ listing.year }}</li>
    <li>Band : {{ listing.band }}</li>
</ul>

<p>{{ listing.description }}</p>

<form action="{% url 'listing_update' listing.id %}">
    <input class="styled_2" type="submit" value="Modifier cette annonce">
</form>

<form action="{% url 'listing_delete' listing.id %}">
    <input class="styled_3" type="submit" value="Supprimer cette annonce">
</form>

{% endblock %}
