{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h1 align="center">A propos</h1>

<pre>
    Bienvenue sur la page dédiée à notre logiciel de gestion de base de données conçu pour répondre aux besoins des systèmes informatiques de la Sturno.



Le logiciel :

- Centralisation des données : Notre logiciel offre une plateforme centralisée pour gérer efficacement toutes les données relatives aux systèmes
    informatiques de la Sturno et de ses partenaires. Cela permet une gestion unifiée et cohérente des informations essentielles.

Avantages:

- Optimisation des processus : En centralisant la gestion des données, notre logiciel permet d'optimiser les processus opérationnels,
    réduisant ainsi les temps d'arrêt et les inefficacités. Cela se traduit par une amélioration de la productivité et des performances globales.

- Prise de décisions éclairées : Grâce à des fonctionnalités d'analyse avancées, notre logiciel fournit des informations précieuses pour une prise de
    décision stratégique. Les données consolidées et les rapports personnalisés permettent aux décideurs de prendre des décisions éclairées et pertinentes.


                                                        Voici la structure de la base de donnée :

    <img src="{% static 'images/base_de_donnee.png' %}" width=90% >

</pre>

{% endblock %}