{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load i18n %}

    <h1 align="center"> {% translate "About"%}</h1>

<pre>
    {% translate "Welcome to the page dedicated to our database management software designed to meet the needs of Sturno's IT systems."%}



{% translate "The software : "%}

{% translate "- Data centralization: Our software offers a centralized platform to efficiently manage all system-related data"%}
    {% translate "IT of Sturno and its partners. This allows for unified and consistent management of essential information."%}


{% translate "Benefits : "%}

{% translate "- Process optimization: By centralizing data management, our software makes it possible to optimize operational processes, "%}
    {% translate "thereby reducing downtime and inefficiencies. This results in improved productivity and overall performance."%}


{% translate "- Informed decision-making: Thanks to advanced analysis features, our software provides valuable information for decision-making"%}
    {% translate "strategic decision. Consolidated data and personalized reports enable decision-makers to make informed and relevant decisions."%}




                                                    {% translate "Voici la structure de la base de donnée : " %}

    <img src="{% static 'images/base_de_donnee.png' %}" width=90% >

</pre>

{% endblock %}