{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load i18n %}

<h2>{% translate "Accueil" %}</h2>

<img src="{% static 'images/sturno.jpg' %}" width=10% >
<br><br>

<h1>{% translate "Welcome to the Sturno Data Management Platform"%}
</h1>

<pre>
{% translate "Why Choose Our Solution:"%}

{% translate "-Our platform offers complete centralization of data, facilitating their access and management for"%}
    {% translate "all authorized users."%}

</pre>


    <img src="{% static 'images/sturno2.webp' %}" width=40% >
</pre>

{% endblock %}