{% extends 'base.html' %}
{% block content %}
{% load static %}

<h2>Accueil</h2>

<pre>
    Bienvenue sur la Plateforme de Gestion de Données de la Sturno

Pourquoi Choisir Notre Solution :

- Notre plateforme offre une centralisation complète des données, facilitant leur accès et leur gestion pour
    tous les utilisateurs autorisés.






                                                        Voici la structure de la base de donnée :

    <img src="{% static 'images/base_de_donnee.png' %}" width=100% >

</pre>


{% endblock %}