{% extends 'base.html' %}

{% block content %}

<li><a href="{% url 'equipment_list' %}">Equipement</a></li>

  <h1>Supprimer l'équipement</h1>

  <p>Êtes-vous sûr de vouloir supprimer cette équipement : {{ equipment.type_equipment_id }} ?</p>

  <form action="" method="post">
    {% csrf_token %}
    <input class="styled_3" type="submit" value="Supprimer">
  </form>

<form action="{% url 'equipment_detail' equipment.id %}">
    <input class="styled" type="submit" value="Conserver">
</form>

{% endblock %}
